<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Shortification</title>
    <link rel="stylesheet" type="text/css" href="dist/prodCSS.min.css">
    <script src="dist/prodLib.min.js"></script>


  </head>

  <body>
    <h1>Shortification</h1>
    <%- body %>
  </body>
</html>
